<div class="info">
  <%= render 'shared/avatar', user: video.user %>
  <h4 class="name"><%= link_to video.user.name, user_path(video.user) %></h4>
  <span class="action">created an <%= link_to 'video', video %></span>
</div>
<div class="content">
  <span class="text"><%= video.description %></span>

  <%= render 'shared/created_at', activity: video %>
  <%= cl_video_tag(video.attachment.url) %>

  <div class="points">
    <span class="like-count"><%= pluralize(video.cached_votes_up, 'like') %></span>
    <span class="comments-count"><%= pluralize(video.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(video) %>
        <%= link_to video_path(video), method: :delete, class:'btn btn-danger btn-sm', remote: remote do %>
          <% fa_icon 'trash' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: video %>
