<div id="user-info" class="well">
  <div class="text-center">
    <%= image_tag @game.logo_url(:standard) || 'avatar.jpg', class: 'avatar' %>
    <h5><%= link_to @game.title, @game %></h5>
  </div>
  <h5>
    Developer: <%= @game.developer %>
  </h5>
  <h5>
    Publisher: <%= @game.publisher %>
  </h5>
  <h5>
    Platform: <%= @game.platform %>
  </h5>
  <h5>
    Release Date: <%= @game.release_date.strftime("%m/%d/%Y") %>
    <br>
    (<%= "#{pluralize(age(@game.release_date), 'year')} ago" %>)
  </h5>
  <h5>
    <div class="star-rating" data-score= <%= @avg_review %> ></div>
    <em><%= "#{@reviews.length} reviews" %></em>
  </h5>
</div>
