<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.username, @user %></h5>
    <h5>
      <%= fa_icon 'shield' %>
      <%= pluralize(@user.posts_count, 'post') %>
    </h5>
    
    <% if @user.dob.present? %>
      <h5>
        <%= fa_icon @user.sex %>
        <%= "#{pluralize(age(@user.dob), 'year')} old" %>
      </h5>
    <% end %>
    
    <% if @user.location.present? %>
      <h5>
        <%= fa_icon 'map-marker' %>
        <%= @user.location %>
      </h5>
    <% end %>
  </div>
  
  <% unless is_current_user?(@user) %>
    <div class="text-center">
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
      <h6>Rating: <%= rating_for @user, 'player', enable_half: true, disable_after_rate: true %></h6>
    </div>
  <% end %>
  <div class="text-center star-ratings">
    <% if is_current_user?(@user) %>
      <%= rating_for @user, 'player' %>
    <% end %>
  </div>
</div>