<% content_for(:page_subtitle) do %>
  will rock your socks off!
<% end %>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 push-md-6">
                <div class="p-5">
                    <%= image_tag("esports.jpg", class: "img-fluid rounded-circle") %>
                </div>
            </div>
            <div class="col-md-6 pull-md-6">
                <div class="p-5">
                    <h2 class="display-4">For the gamers...</h2>
                      <p>
                        We <b>LOVE</b> games and want to give a chance to every
                        gamer out there, professional or not,
                        to build an amazing community by posting gameplay
                        videos, communicating with other players, s
                        haring stories about the video games' world
                        and everything around that with a focus on Esports games!
                      </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="p-5">
                    <%= image_tag("esport2.jpg", class: "img-fluid rounded-circle") %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <h2 class="display-4">Ludituri te salutant!</h2>
                    <p>
                      Join a community of enthusiastic players. <br>
                      Watch all the videos and comments! <br>
                      Read about tactics and share your suggestions! <br>
                      Write or post videos about the life of a gamer! <br>
                      Write or make videos for reviewing a game! <br>
                      Create teams for playing your favourite games! <br>
                      Rate players and reviews! <br>
                      Check out tournaments!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<% if @videos.present? %>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="display-4">Weekly Top!</h2>
            <h6>
              <%= link_to "More Gameplay Videos", top_videos_path%>
            </h6>
        </div>
    </div>

    <div class="row text-center">
      <% @videos.each do |video| %>
        <div class="col-md-4 col-sm-4 hero-feature">
            <div class="thumbnail">
                <%= cl_video_tag(video.attachment.url, width: 800, height: 400, style: "display:block; max-width: 100%; height: 100%;") %>
                <div class="caption">
                  <em>By: <%= video.user.username %></em>
                  <p>
                      <%= link_to "See More", video_path(video) %>
                  </p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>