<!DOCTYPE html>
<html lang="en">
    <head>
      <title>VideoGamesRate</title>
      <%= stylesheet_link_tag    'front/home' %>
      <%= stylesheet_link_tag    'front/bootstrap' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>

      <!-- Plyr Video Player -->
      <link rel="stylesheet" href="https://cdn.plyr.io/2.0.12/plyr.css">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <a class="navbar-brand" href="<%= root_path %>">VideoGamesRate</a>
                <div class="collapse navbar-collapse" id="navbarExample">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="<%= root_path %>">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= about_path %>">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead">
            <div class="overlay">
                <div class="container">
                    <h1 class="display-1 text-white">VideoGamesRate</h1>
                    <h2 class="display-4 text-white">Will Rock Your Socks Off</h2>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 push-md-6">
                        <div class="p-5">
                            <%= image_tag("esports.jpg", class: "img-fluid rounded-circle") %>
                        </div>
                    </div>
                    <div class="col-md-6 pull-md-6">
                        <div class="p-5">
                            <h2 class="display-4">For the gamers...</h2>
                            <p>
                              We <b>LOVE</b> games and want to give the chance
                              to every gamer out there, professional or not,
                              to build an amazing community by posting gameplay
                              videos, communicating with other players, sharing
                              stories about the videogame world and everything
                              around that! </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="p-5">
                            <%= image_tag("esport2.jpg", class: "img-fluid rounded-circle") %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-5">
                            <h2 class="display-4">We salute you!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <% if @videos.present? %>
          <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Weekly Top</h3>
                    <h6>
                      <a href="#">More Gameplay Videos</a>
                    </h6>
                </div>
            </div>

            <div class="row text-center">
              <% @videos.each do |video| %>
                <div class="col-md-4 col-sm-4 hero-feature">
                    <div class="thumbnail">
                        <%= cl_video_tag(video.attachment.url, width: 800, height: 400, style: "display:block; max-width: 100%; height: 100%;") %>
                        <div class="caption">
                          <em>By: <%= video.user.username %></em>
                          <p>
                              <%= link_to "See More", video_path(video) %>
                          </p>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- Footer -->
        <footer class="py-5 bg-inverse">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; VideoGamesRate 2017</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Plyr Video Player -->
        <script src="https://cdn.plyr.io/2.0.12/plyr.js"></script>
        <script>plyr.setup();</script>

    </body>
</html>
