<!DOCTYPE html>
<html>
  <head>
    <title>VideoGamesRate</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Plyr Video Player -->
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.12/plyr.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Footer -->
    <footer class="navbar-default navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <p class="m-0 text-center text-white" style="color: #fff">Copyright &copy; VideoGamesRate 2017</p>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="footer-social-icons">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/videogamesrate/" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/VideoGamesRateA" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/videogamesrate/?hl=en" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.patreon.com/videogamesrate" class="social-icon"> <i class="fa fa-paypal"></i></a></li>
            </ul>
          </div>
        </ul>
      </div>
    </footer>

    <!-- Plyr Video Player -->
    <script src="https://cdn.plyr.io/2.0.12/plyr.js"></script>
    <script>plyr.setup();</script>
  </body>
</html>
